DATABASE_URL=postgres://authenticator:SENHA@sitetriadcompany_estudo-biblico-postgress:5432/estudo_biblico
JWT_SECRET=mesmo-valor-do-PGRST_JWT_SECRET
ALLOWED_ORIGINS=https://seu-dominio.com,http://localhost:8080
PORT=4000
NODE_ENV=production
